body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container-data{
  background-color: #FFB6C1;
  height: 250px;
  margin-top: 3em;
  border-radius: 0.5em;
  border: 5px solid orange;
}

.handle-button{
  margin-left: 60em;
  margin-bottom: 2em;
  margin-top: 1.5em;
}

.group-form-left{
  margin-right: 18em;
}

